#halo{
    background:url(../../images/engagement-rings/halo.jpeg) no-repeat;
    background-size: cover;
    height:300px;
    background-position: center;
    margin-top:30px;
}

#halo-link{
    margin-top:0;

}

#halo-caption{
    margin-top:0px;
    width:60%;
    float:right;
}
