.jewelry-caption-header{
	margin-bottom:2px;
	font-family:"Tangerine";
	letter-spacing: .05em;
	font-size:2rem;
	text-shadow: 3px 3px 3px black;
	color:white;
}

.jewelry-caption-text{
	margin-bottom:2px;
	font-family:"Parisienne";
	letter-spacing: .05em;
	font-size:1.2rem;
	text-decoration:underline;
	text-shadow: 3px 3px 3px black;
	color:white;
}

#shop-diamonds{
	text-decoration: none;
}

#body-diamond{
	background:linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)),
	url(../../images/jewelry/bracelet.jpg) no-repeat;
	background-size:cover;
	background-position:center;
	min-height:250px;
	color:black;
	padding-top:25px;
	width:90%;
	text-align:center;
	margin:auto;
	margin-top:40px;
	position:relative;
}

#body-bracelets{
	background:linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)),
	url(../../images/jewelry/earrings.jpg) no-repeat;
	background-size:cover;
	background-position:center;
	min-height:200px;
	color:black;
	width:44%;
	text-align:center;
	margin:auto;
	display:inline-block;
	padding-top:15px;
	position:relative;
}

#body-necklaces{
	background:linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)),
	url(../../images/jewelry/necklace.jpg) no-repeat;
	background-size:cover;
	background-position:center;
	min-height:200px;
	color:black;
	width:44%;
	text-align:center;
	margin:auto;
	display:inline-block;
	margin-left:10px;
	padding-top:15px;
	position:relative;
}

#bracelets-necklaces{
    margin-top:10px;
}