#contact-page{
    font-size:0.85rem;
    letter-spacing: .09em;
}

.icon-grey{
    color:grey;
}

#contact-info{
    background-color:#e5e6e8;
    padding-top:25px;
    padding-bottom:25px;
    margin-bottom:25px;
}

.submit-form-btn{
    font-weight: 500;
    letter-spacing: .09em;
	font-size:12px;
	padding:10px 15px 10px 15px;
	background:var(--yellow);
    color:white;
    border-radius:0;
    margin-bottom:30px;
    width:100%;
}

#contact-form input, #contact-form textarea{
    font-size:11px;
}

#appointment-btn{
    margin-top:25px;
    width:70%;
}

.appointment-btn:hover, .submit-form-btn:hover{
	background:#e5d08a;
	color:white;
}

#contact_form {
    width: 700px;
    margin: auto;
}
@media only screen and (max-width: 480px) {
    #contact_form {
        width: 100%;
    }
}
#contact-form .col-lg-8 {
    margin: auto;
}