#checkout-form {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-gap: 0 30px;
}

#checkout-form label {
    margin: 0 0 5px 0;
    font-size: 13px;
}

#checkout-form input, .credit-card-inputs {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 0 5px 10px;
    font-size: 13px;
}
#shipping-info-wrapper {
    border-right: 1px solid grey;
    padding-right: 30px;
}
#shipping-info-wrapper input {
    display: block;
}

.credit-card-inputs {
    border: 1px solid rgb(175, 175, 175);
    padding: 10px 0 10px 10px;
}

.two-col-inputs {
    display: inline-block;
    width: calc(50% - 10px);
}

@media only screen and (max-width: 1201px) {
    .two-col-inputs {
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 481px) {
    #checkout-form {
        grid-template-columns: 1fr;
    }
    #shipping-info-wrapper, #payment-info-wrapper {
        border-right: none;
        width: 90%;
        margin: auto;
    }
    #checkout-form input, .credit-card-inputs {
        width: 100%;
    }
    #shipping-info-wrapper {
        padding-right: 0;
    }
}