.product-image{
    width:500px;

}

.cart-btn{
    width:100%;
}

.product-details{
    margin-top:50px;
    height:300px;
}
.product-details > h2{
    font-size:1.5rem;
}
.product-details > div > div > h3{
    font-size:1rem;
    text-decoration:underline;
}
.product-details > div > div > p{
    font-size:0.75rem;
}

.similar-product-image{
    width:200px;
}
#similar-necklaces .col-lg-2{
    text-align:center;
    padding:0;
    margin:0 1px;
}

