#catalog-spinner {
    margin: auto;
    width: 350px;
    margin-top: 50px;
}

#catalog-spinner::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: var(--yellow);
    animation: spin 0.7s ease-in-out infinite;
}

@keyframes spin {
    to { transform: rotate(360deg) }
}

#catalog-spinner img {
    width: 150px;
    height: 150px;
}

@media only screen and (max-width: 480px) {
    #catalog-spinner {
        width: 150px;
        margin-top: 15px;
    }
}