#wedding-header-btn:hover { background: #997f2c }

#wedding-header-text {
    position: absolute;
    left: 125px;
    width: 400px;
    color: white;
}
#wedding-header-text h1 {
    text-transform: uppercase;
    font-size: 36px;
}

#mens-wedding-section, #womens-wedding-section {
    margin-top: 75px;
}

@media only screen and (max-width: 481px) {
    /* #wedding-header-text {
        width: 100%;
        left: 0;
        text-align: center;
    } */
}

