.wedding-slider-description {
    color: black;
}
.wedding-slider-description:hover {
    text-decoration: none;
    color: black;
}

.wedding-slider-description img {
    height: 150px;
    width: 200px;
}

@media only screen and (max-width: 481px) {
    .wedding-slider-description img {
        height: 100px;
        width: 100px;
    }
}