#wedding-header .landing-page-header-text {
	color: white;
}

#wedding-header-btn:hover { 
	background: #997f2c; 
}

@media only screen and (max-width: 481px) {
	#womens-wedding-banner {
		flex-direction: column-reverse;
	}
}
