.jewelry-caption-header{
	margin-bottom:2px;
	margin-top:15px;
	letter-spacing: .05em;
	font-size:1.7rem;
	text-shadow: 3px 3px 3px white;
	color:black;
}

.jewelry-caption-text{
	margin-bottom:2px;
	letter-spacing: .05em;
	font-size:1.2rem;
	text-decoration:underline;
	text-shadow: 3px 3px 3px white;
	color:black;
}

.jewelry-containers{
	text-align:center;
	margin:auto;
	width:90%;
}