/* description */
#jewelry-description{
    text-align:center;
    width:90%;
    margin:auto;
    color:rgb(65, 65, 65);
}

#jewelry-description h2{
    margin-top:40px;
}

#jewelry-description a{
    color:black;
    text-decoration:underline;
    margin:15px;
}
#jewelry-description a:hover{
    color:var(--yellow);
}

/* slider */
#jewelry{
    width:90%;
    margin:0px auto;
}

#jewelry img{
    margin:30px auto 0px auto;
    width:100%;
    height:300px;
}

