#custom-design-image{
	background:linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)),
	url(https://s3.amazonaws.com/media-cajewelers.com/BridalSetPrincessCut.jpg) no-repeat;
	background-size:cover;
  background-position:center;
}
#custom-design{
  margin-bottom:60px;
}

#custom-design-btn {
  text-decoration: none;
}

@media only screen and (max-width:765px){
	video{
    margin-top:30px;
    height:auto;
  }
}
