#testimonial{
    background-color:#e5e6e8;
    width:80%;
}
#testimonial .card{
    height:600px;
    width:90%;
    margin:15px;
}

#testimonial .card-img-top{
    height:300px;
}
#testimonial h2{
    text-align:center;
    padding-top:35px;
}
#testimonial .card-body{
    text-align:center;
}
