#wedding-band-image{
    background:linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
	url(../../images/wedding-bands/wedding2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vw;
    font-family:"Tangerine", Helvetica, Arial, serif;
    margin: 30px auto 0px auto;
    position:relative;
    width:90%;
}

#wedding-band-image h4{
    color:black;
    font-size:3rem;
    padding-top:3%;
    margin-bottom:0;
    text-shadow:2px 2px 2px var(--yellow);
}

#wedding-band-image p{
    color:black;
    font-size:1.8rem;
    text-shadow:2px 2px 2px var(--yellow);
}

.wedding-btn{
    margin:auto;
	font-family:'Gotham SSm',sans-serif;
    font-weight: 500;
    letter-spacing: .09em;
	font-size:10px;
	padding:10px 15px 10px 15px;
	background:black;
	color:var(--yellow);
    width:120px;
    border:1px solid var(--yellow);
    margin-left:3px;
}

.wedding-btn:hover{
    background:#e5d08a;
	color:white;
}

#wedding-description{
    text-align:center;
    width:90%;
    margin:32px auto;
    color:rgb(65, 65, 65);
}
#wedding-links a{
    color:black;
    text-decoration:underline;
    margin:15px;
}
#wedding-links a:hover{
    color: var(--yellow);
}

@media only screen and (max-width: 768px){
    #wedding-description{
        margin-top:0;
        width:100%;
    }
    #wedding-band-image{
        width:100%;
        height:350px;
    }
    #wedding-bands{
        margin:40px 0;
    }
    /* #wedding-description{
        display:none;
    } */
}

@media only screen and (min-width: 775px){
    #wedding-band-image{
        max-height:300px;
    }
}