#wedding-bands {
    width: 90%;
    margin: auto;
}
#wedding-home-img {
    margin: 30px auto 0px auto;
    width: 100%;
    height: 300px;
}

.wedding-btn:hover{
    background:#e5d08a;
	color:white;
}

#wedding-description{
    text-align:center;
    width:90%;
    margin:32px auto;
    color:rgb(65, 65, 65);
}
#wedding-links a{
    color:black;
    text-decoration:underline;
    margin:15px;
}
#wedding-links a:hover{
    color: var(--yellow);
}

@media only screen and (max-width: 768px){
    #wedding-description{
        margin-top:0;
        width:100%;
    }
    #wedding-bands{
        margin:40px 0;
    }
    /* #wedding-description{
        display:none;
    } */
}

@media only screen and (max-width: 481px) {
    #wedding-bands {
        width: 100%;
    }
}