/* empty cart */
#shopping-suggestions-wrapper {
    display: flex;
}
.shopping-suggestions {
    flex: 1;
    text-align: center;
    border: 2px solid var(--yellow);
    margin: 0 15px;
    padding: 60px 5px;
}
.shopping-suggestions:hover {
    text-decoration: none;
}
.shopping-suggestions:hover h2{
    color: var(--yellow);
}
.shopping-suggestions h2{
    font-size: 16px;
    color: black;
}

/* items in cart */
.cart-item {
    display: flex;
    margin: 25px 0;
    flex-direction: row;
}
.cart-item img { 
    width: 150px;
    height: 150px;
}

#cart-items-summary {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    grid-gap: 100px;
}