.jewelry-caption-header{
	margin-bottom:2px;
	margin-top:15px;
	letter-spacing: .05em;
	font-size:1.7rem;
	color:black;
}

.jewelry-caption-text{
	margin-bottom:2px;
	letter-spacing: .05em;
	font-size:1.2rem;
	text-decoration:underline;
	color:black;
}

.jewelry-containers{
	text-align:center;
	margin:auto;
	width: 400px;
	font-size: 14px;
}

#earrings, #rings, #necklaces, #bracelets {
	
}

.jewelry-sub-containers {
	display: flex;
	margin: 100px 0;
}

@media only screen and (max-width: 481px) {
	.jewelry-sub-containers {
		flex-direction: column;
		margin: 50px 0;
	}	
	#bracelets, #rings {
		flex-direction: column-reverse;
	}
	.jewelry-containers {
		margin-top: 25px;
	}

	.jewelry-images img{
		width: 100%;
	}
}

