#jewelry-header{
    display:flex;
    justify-content:center;
    align-items:center;
}
#jewelry-header-text {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
}
#jewelry-header img {
    width: 100%;
    height: auto;
}

.jewelry-btn{
	font-family:'Gotham SSm',sans-serif;
    letter-spacing: .09em;
	font-size:12px;
	padding:10px 15px 10px 15px;
	background:white;
    color:rgb(248, 55, 55);
    border:0;
	border-radius:3px;
    margin:10px 0px 5px 0px;
}